// BLOG PAGE STYLES

// blog-para component includes header and paragraph
// blog-image component includes image for each blog

//blog image styling
.blog-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    margin-top: 50px;
    opacity: 0.6;
}

// blog header styling
.blog-para h5 {
    @include primary-font-style;
    font-size: 1.2em;
    text-align: center;
}

// blog paragraph styling
.blog-para p {
    @include primary-font-style;
    font-size: 0.8em;
    text-align: center;
    padding: 15px;
}

// content styled for tablet view
@media screen and (min-width: 750px) {

    .blog-para h5 {
        font-size: 1.4em;
    }

    .blog-para p {
        font-size: 0.8em;
        padding-left: 15%;
        padding-right: 15%;
        text-align: justify;
    }

    .blog-image img {
        width: 80px;
    }
}

// content styled for desktop view
@media screen and (min-width: 1000px) {

    .blog-para p {
        font-size: 1em;
    }

    .blog-image img {
        width: 120px;
    }
}