.blog-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
}

.blog-para h5 {
    @include primary-font-style;
    font-size: 1.2em;
    text-align: center;
}

.blog-para p {
    @include primary-font-style;
    font-size: 0.8em;
    text-align: center;
    padding: 15px;
}

@media screen and (min-width: 1000px) {

    .blog-para p {
        font-size: 1em;
    }

    .blog-image img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80px;
    }
}