// CONTACT PAGE STYLES

// header styling
.reach-me-section h6 {
    @include primary-font-style;
    font-size: 1.2em;
}

// personal details styling
.reach-me-section p {
    @include primary-font-style;
    font-size: 1em;
}

// contact-section component includes personal details and form
.contact-section {
    margin-top: 80px;
    text-align: center;
}

// content styled for tablet view
@media screen and (min-width: 750px) {

    .reach-me-section h6 {
        font-size: 1.2em;
        text-align: left;
    }
   
    .reach-me-section p {
        @include primary-font-style;
        font-size: 0.8em;
        text-align: left;
    }

    // component includes personal details and form
    .contact-section{
        display: flex;
        justify-content: space-around;
        margin-left: 20%;
        margin-right: 20%;
    }
}

// content styled for desktop view
@media screen and (min-width: 1000px) {

    .reach-me-section h6 {
        font-size: 1.4em;
    }
   
    .reach-me-section p {
        @include primary-font-style;
        font-size: 1em;
    }

    // component includes personal details and form
    .contact-section{
        display: flex;
        justify-content: space-around;
        margin-left: 27%;
        margin-right: 27%;
    }
}