.history-container h5 {
    @include primary-font-style;
    font-size: 1em;
    text-align: center;
}

.history-container p {
    @include primary-font-style;
    font-size: 0.8em;
    text-align: center;
}

.history-container {
    margin-top: 40px;
    overflow-y: hidden;
    padding-bottom: 30px;
}