// HISTORY PAGE STYLES

// header styling
.history-container h5 {
    @include primary-font-style;
    font-size: 1em;
    text-align: center;
}

// paragraph styling
.history-container p {
    @include primary-font-style;
    font-size: 0.8em;
    text-align: center;
    padding: 15px;
}

// history container text component includes header and paragraph
.history-container {
    margin-top: 40px;
}

// content styled for tablet view
@media screen and (min-width: 750px) {

    .history-container h5 {
        font-size: 1.1em;
        margin-top: 30px;
    }
    
    .history-container p {
        font-size: 0.8em;
        text-align: justify;
        padding-left: 20%;
        padding-right: 20%;
    }
}

// content styled for desktop view
@media screen and (min-width: 1000px) {

    .history-container h5 {
        font-size: 1.3em;
    }
    
    .history-container p {
        font-size: 1em;
        text-align: justify;
    }
}