.history-container h5 {
    @include primary-font-style;
    font-size: 1em;
    text-align: center;
}

.history-container p {
    @include primary-font-style;
    font-size: 0.8em;
    text-align: center;
    padding: 15px;
}

.history-container {
    margin-top: 40px;
    overflow-y: hidden;
}


@media screen and (min-width: 750px) {

    .history-container h5 {
        font-size: 1.1em;
        opacity: 0.6;
        margin-top: 40px;
    }
    
    .history-container p {
        font-size: 0.8em;
        text-align: left;
        opacity: 0.6;
        padding-left: 20%;
        padding-right: 20%;
    }
}



@media screen and (min-width: 1000px) {

    .history-container h5 {
        font-size: 1.3em;
    }
    
    .history-container p {
        font-size: 1em;
        text-align: left;
    }
}