

@media screen and (min-width: 850px) {

    body {
        background-image: url("/images/portfolio-background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 40px;
    }
    
    .top-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
    }

    .top-header h3 {
        font-size: 1.8em;
    }
    .top-header h5 {
        font-size: 1.2em;
    }

}
    






