.blog-links ul {
    @include primary-font-style;
    list-style: none;
    font-size: 0.8em;
}

.blog-links li {
    margin-bottom: 10px;
    text-align: right;
}

.blog-link-decoration {
    color: $secondary-color;
}

@media screen and (min-width: 1000px) {

    .blog-links ul {
        font-size: 1.1em;
    }
}
