.blog-links ul {
    @include primary-font-style;
    list-style: none;
    font-size: 0.8em;
    margin-left: 16px;
    margin-top: 20px;
}

.blog-links li {
    margin-bottom: 10px;
    text-align: right;
}
