// BLOG LINKS COMPONENT STYLES

// blog-links component includes links to individual blogs 

.blog-links ul {
    @include primary-font-style;
    list-style: none;
    font-size: 1em;
}

.blog-links li {
    margin-bottom: 10px;
    text-align: right;
}

.blog-link-decoration {
    color: $link-color;
}

// content styled for tablet view
@media screen and (min-width: 750px) {

    .blog-links {
        margin-top: 30px;
    }

    .blog-links ul {
        margin-bottom: 80px;
        display: flex;
        justify-content: center;
        font-size: 1em;
    }
    
    .blog-links li {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        width: 45px;
    }
}

// content styled for desktop view
@media screen and (min-width: 1000px) {

    .blog-links ul {
        font-size: 1.2em;
    }

    .blog-links li {
        width: 55px;
    }
}
