// CONTACT FORM COMPONENT STYLES

// contact-form component includes form-input-box elements and button

button {
    background: transparent;
    border: solid $primary-color 1px;
    color: $primary-color;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 30px;
}

.form-input-box {
    color: $primary-color;
}

.input-section {
    background: transparent;
    border: solid $primary-color 1px;
    padding: 5px;
    color: $primary-color;
    outline-color: $secondary-color;
    opacity: 0.6;
}

::placeholder { 
    color: $primary-color;
}

// content styled for tablet/desktop view
@media screen and (min-width: 750px) {

    .form-input-box {
        display: flex;
    }

    button {
        display: flex;
    }
}
