button {
    background: transparent;
    border: solid $primary-color 1px;
    padding: 5px;
    color: $primary-color;
    cursor: pointer;
    margin-bottom: 30px;
}

.form-input-box {
    color: $primary-color;
}

.input-section {
    background: transparent;
    border: solid $primary-color 1px;
    padding: 5px;
    color: $primary-color;
    outline-color: $secondary-color;
}

::placeholder { 
    color: $primary-color;
    // opacity: 0.6; 
}

@media screen and (min-width: 750px) {

    .input-section {
        // opacity: 0.8;
    }


    .form-input-box {
        // opacity: 0.8;
        display: flex;
    }

    button {
        display: flex;
    }

}
