* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary-color: whitesmoke;
$secondary-color: #566651;

@mixin primary-font-style {
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
}

body {
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;
    position: relative;
}    

.name-section {
    @include primary-font-style;
}

p {
    @include primary-font-style;
}

.underline {
    text-decoration: underline;
}

.link-decoration {
    text-decoration: none;
    color: $primary-color;
}

.blog-link-decoration {
    color: $secondary-color;
}


