* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    src: url(/fonts/NeueMontreal-Light.otf);
    font-family: neue;
}


$primary-color: whitesmoke;
$secondary-color: #566651;

@mixin primary-font-style {
    font-family: 'neue', Open Sans, sans-serif;
    color: whitesmoke;
    letter-spacing: 2px;
}

::-webkit-scrollbar {
    width: 0px;
  }

body {
    background-image: url("/images/portfolio-background-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    height: 90vh;
}
  
.main-container {
    border: 1px solid $primary-color;
    overflow: scroll;
    padding: 15px;
    margin: 20px;
    height: 95vh;
}

p {
    @include primary-font-style;
}

.underline {
    text-decoration: underline;
}

.link-decoration {
    text-decoration: none;
    color: $primary-color;
}


@media screen and (max-width: 750px) {

    footer {
    display: none;
}

.hide-from-mobile {
    display: none;
}

hr {
    display: none;
}

}

@media screen and (min-width: 750px) {

    body {
        background-image: url("/images/portfolio-background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
    }

    .main-container {
        margin: 40px;
        height: 90vh;
    }

    .name-section-desktop {
        color: $primary-color;
        @include primary-font-style;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 140px;
    }
    
    .name-section-desktop h3 {
        font-size: 3em;
        opacity: 0.4;
    }
    
    .name-section-desktop h5 {
        font-size: 1.5em;
        opacity: 0.4;
    }

    .main-content {
        max-height: 100vh;

    }

    .nav-bar {
        display: flex;
    }

    globe-section {
        display: none;
    }

    // landing-text-section {
    //     display: none;
    // }

    .name-section {
        display: none;
    }

    .seperator {
        width: 520px; 
        margin-left: auto;
        margin-right: auto;
        opacity: 0.6;
    }

}

@media screen and (min-width: 1000px) {
    .name-section-desktop h3 {
        font-size: 4em;
    }

    .name-section-desktop h5 {
        font-size: 2em;
        opacity: 0.4;
    }

    .seperator {
        width: 600px; 
        margin-left: auto;
        margin-right: auto;
        opacity: 0.6;
    }
}