* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$primary-color: whitesmoke;
$secondary-color: #566651;

@mixin primary-font-style {
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
}

::-webkit-scrollbar {
    width: 0px;
  }

body {
    background-image: url("/images/portfolio-background-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    margin: 20px;
    height: 100vh;
}
  
.main-container {
    border: 1px solid $primary-color;
    overflow: scroll;
    padding: 15px;
    height: 100vh;
}

.name-section {
    @include primary-font-style;
}

p {
    @include primary-font-style;
}

.underline {
    text-decoration: underline;
}

.link-decoration {
    text-decoration: none;
    color: $primary-color;
}

.blog-link-decoration {
    color: $secondary-color;
}

@media screen and (max-width: 237px) {

    .top-header p {
        display: none;
    }
}

@media screen and (min-width: 1000px) {

    .top-header p {
        font-size: 1.3em;
    }
    
    .top-header .name-section h3 {
        font-size: 2em;
    }
    .top-header .name-section h5 {
        font-size: 1.4em;
    }
}
