.footer-nav ul {
    @include primary-font-style;
    list-style: square;
    display: flex;
    justify-content: space-around;
    width: 500px;
}

.footer-nav {
    display: flex;
    justify-content: right;
    position: sticky;
}

