// GLOBE SECTION COMPONENT STYLES

// globe-container component includes wire globe image
.globe-container img {
    width: 150px;
    opacity: 0.4;
}

.globe-container {
    display: flex;
    justify-content: center;
    padding-top: 20%;
}

// content styled for tablet view
@media screen and (min-width: 750px) {

    .globe-container img {
        width: 200px;
    }

    .globe-container {
        margin-top: 20%;
    }
}

// content styled for desktop view
@media screen and (min-width: 1000px) {

    .globe-container img {
        width: 260px;
    }

}


