globe-section img {
    width: 150px;
    opacity: 0.2;
}

.globe-container {
    display: flex;
    justify-content: center;
    padding-top: 20%;
}

@media screen and (min-width: 750px) {

    globe-section img {
        width: 200px;
    }

    .globe-container {
        margin-top: 20%;
    }
}

@media screen and (min-width: 1000px) {

    globe-section img {
        width: 260px;
    }

    .globe-container {
        padding-top: 0;
    }
}


