.landing-text p {
    font-size: 0.9em;
    text-align: right;
    padding-left: 40%;
    margin-top: 20%;
}

@media screen and (min-width: 750px) {

    .landing-text p {
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 40px;
    // font-style: italic;
    // opacity: 0.6;
    font-size: 1em;
    } 
}


@media screen and (min-width: 1000px) {

    .landing-text p {
    text-align: justify;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 40px;
    // font-style: italic;
    // opacity: 0.6;
    font-size: 1.2em;
    } 
}