.nav-bar ul {
    @include primary-font-style;
    list-style: square;
    font-size: 1em;
    margin-left: 16px;
    margin-top: 40px;
}

.nav-bar li {
    margin-bottom: 10px;
}

@media screen and (min-width: 750px) {

    navbar-section {
        display: flex;
        justify-content: center;
    }

    .nav-bar ul {
        display: flex;
        justify-content: space-between;
        width: 400px;
        list-style: none;
        // opacity: 0.5;
        padding-right: 15px;
        font-size: 1em;
    }
}

@media screen and (min-width: 1000px) {

    .nav-bar ul {
        font-size: 1.2em;
        width: 470px;
    }
}
