navbar-section {
    grid-area: navbar;
}

.nav-bar ul {
    @include primary-font-style;
    list-style: square;
    font-size: 0.8em;
    margin-left: 16px;
    margin-top: 20px;
}

.nav-bar li {
    margin-bottom: 10px;
}

.underline {
    text-decoration: underline;
}