.nav-bar ul {
    @include primary-font-style;
    list-style: square;
    font-size: 0.9em;
    margin-left: 16px;
    margin-top: 40px;
}

.nav-bar li {
    margin-bottom: 10px;
}

@media screen and (min-width: 750px) {

    navbar-section {
        display: flex;
        justify-content: center;
    }

    .nav-bar ul {
        display: flex;
        justify-content: space-between;
        width: 450px;
        list-style: square;
        opacity: 0.6;
        padding-right: 15px;
    }

    
}

@media screen and (min-width: 1000px) {

    .nav-bar ul {
        font-size: 1.1em;
    }
    
}
