.network-links ul {
    @include primary-font-style;
    list-style: none;
    font-size: 0.8em;
    // border: solid white 1px;
}

.network-links li {
    margin-bottom: 10px;
    text-align: right;
}