.project-links ul {
    @include primary-font-style;
    font-size: 0.9em;
    list-style: none;
    margin-left: 16px;
    margin-top: 160px;
    padding-bottom: 20px;
}

.project-links li {
    margin-bottom: 15px;
    text-align: right;
}

@media screen and (min-width: 1000px) {

    .project-links ul {
        font-size: 1.1em;
    }
    
}