* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url(/fonts/NeueMontreal-Light.otf);
  font-family: neue;
}
::-webkit-scrollbar {
  width: 0px;
}

body {
  background-image: url("/images/portfolio-background-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  height: 90vh;
}

.main-container {
  border: 1px solid whitesmoke;
  overflow: scroll;
  padding: 15px;
  margin: 20px;
  height: 95vh;
}

p {
  font-family: "neue", Open Sans, sans-serif;
  color: whitesmoke;
  letter-spacing: 2px;
}

.underline {
  text-decoration: underline;
}

.link-decoration {
  text-decoration: none;
  color: whitesmoke;
}

@media screen and (max-width: 750px) {
  footer {
    display: none;
  }
  .hide-from-mobile {
    display: none;
  }
  hr {
    display: none;
  }
}
@media screen and (min-width: 750px) {
  body {
    background-image: url("/images/portfolio-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
  }
  .main-container {
    margin: 40px;
    height: 90vh;
  }
  .name-section-desktop {
    color: whitesmoke;
    font-family: "neue", Open Sans, sans-serif;
    color: whitesmoke;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 140px;
  }
  .name-section-desktop h3 {
    font-size: 3em;
    opacity: 0.4;
  }
  .name-section-desktop h5 {
    font-size: 1.5em;
    opacity: 0.4;
  }
  .main-content {
    max-height: 100vh;
  }
  .nav-bar {
    display: flex;
  }
  globe-section {
    display: none;
  }
  .name-section {
    display: none;
  }
  .seperator {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
  }
}
@media screen and (min-width: 1000px) {
  .name-section-desktop h3 {
    font-size: 4em;
  }
  .name-section-desktop h5 {
    font-size: 2em;
    opacity: 0.4;
  }
  .seperator {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
  }
}
.top-header {
  display: flex;
  justify-content: space-between;
}

.name-section {
  font-family: "neue", Open Sans, sans-serif;
  color: whitesmoke;
  letter-spacing: 2px;
}

.name-section h3 {
  font-family: "neue", Open Sans, sans-serif;
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 1.5em;
}

.name-section h5 {
  font-family: "neue", Open Sans, sans-serif;
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 0.85em;
}

@media screen and (max-width: 270px) {
  .top-header p {
    display: none;
  }
}
@media screen and (min-width: 750px) {
  .top-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    opacity: 0.6;
  }
  .top-header h3 {
    font-size: 1.8em;
  }
  .top-header h5 {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1000px) {
  .top-header p {
    font-size: 1.3em;
  }
  .top-header .name-section h3 {
    font-size: 2em;
  }
  .top-header .name-section h5 {
    font-size: 1.4em;
  }
}
.nav-bar ul {
  font-family: "neue", Open Sans, sans-serif;
  color: whitesmoke;
  letter-spacing: 2px;
  list-style: square;
  font-size: 0.9em;
  margin-left: 16px;
  margin-top: 40px;
}

.nav-bar li {
  margin-bottom: 10px;
}

@media screen and (min-width: 750px) {
  navbar-section {
    display: flex;
    justify-content: center;
  }
  .nav-bar ul {
    display: flex;
    justify-content: space-between;
    width: 450px;
    list-style: square;
    opacity: 0.6;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1000px) {
  .nav-bar ul {
    font-size: 1.1em;
  }
}
globe-section img {
  width: 150px;
  opacity: 0.2;
}

.globe-container {
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

@media screen and (min-width: 750px) {
  globe-section img {
    width: 200px;
  }
  .globe-container {
    margin-top: 20%;
  }
}
@media screen and (min-width: 1000px) {
  globe-section img {
    width: 260px;
  }
  .globe-container {
    padding-top: 0;
  }
}
.landing-text p {
  font-size: 0.9em;
  text-align: right;
  padding-left: 40%;
  margin-top: 20%;
}

@media screen and (min-width: 750px) {
  .landing-text p {
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 40px;
    font-style: italic;
    opacity: 0.6;
    font-size: 1em;
  }
}
@media screen and (min-width: 1000px) {
  .landing-text p {
    text-align: left;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 40px;
    font-style: italic;
    opacity: 0.6;
    font-size: 1.2em;
  }
}
.project-links ul {
  font-family: "neue", Open Sans, sans-serif;
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 0.9em;
  list-style: none;
  margin-left: 16px;
  margin-top: 40%;
}

.project-links li {
  margin-bottom: 15px;
  text-align: right;
}

@media screen and (min-width: 750px) {
  .project-links ul {
    font-size: 0.9em;
    list-style: none;
    margin-left: 16px;
    margin-top: 40px;
    opacity: 0.8;
  }
  .project-links li {
    margin-bottom: 15px;
    text-align: center;
  }
}
@media screen and (min-width: 1000px) {
  .project-links ul {
    font-size: 1.1em;
  }
  .project-links ul {
    opacity: 0.6;
  }
}
.blog-links ul {
  font-family: "neue", Open Sans, sans-serif;
  color: whitesmoke;
  letter-spacing: 2px;
  list-style: none;
  font-size: 0.8em;
}

.blog-links li {
  margin-bottom: 10px;
  text-align: right;
}

.blog-link-decoration {
  color: #566651;
}

@media screen and (min-width: 750px) {
  .blog-links {
    margin-top: 50px;
  }
  .blog-links ul {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
  }
  .blog-links li {
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    opacity: 0.6;
    width: 100px;
  }
  .blog-link-decoration {
    color: whitesmoke;
    opacity: none;
  }
}
@media screen and (min-width: 1000px) {
  .blog-links ul {
    font-size: 1.1em;
  }
}
.history-container h5 {
  font-family: "neue", Open Sans, sans-serif;
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 1em;
  text-align: center;
}

.history-container p {
  font-family: "neue", Open Sans, sans-serif;
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 0.8em;
  text-align: center;
  padding: 15px;
}

.history-container {
  margin-top: 40px;
  overflow-y: hidden;
}

@media screen and (min-width: 750px) {
  .history-container h5 {
    font-size: 1.1em;
    opacity: 0.6;
    margin-top: 40px;
  }
  .history-container p {
    font-size: 0.8em;
    text-align: left;
    opacity: 0.6;
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media screen and (min-width: 1000px) {
  .history-container h5 {
    font-size: 1.3em;
  }
  .history-container p {
    font-size: 1em;
    text-align: left;
  }
}
.network-links ul {
  font-family: "neue", Open Sans, sans-serif;
  color: whitesmoke;
  letter-spacing: 2px;
  list-style: none;
  font-size: 0.8em;
}

.network-links li {
  margin-bottom: 10px;
  text-align: right;
}

@media screen and (min-width: 750px) {
  .network-links {
    margin-top: 40px;
  }
  .network-links ul {
    display: flex;
    justify-content: center;
  }
  .network-links li {
    margin-bottom: 10px;
    text-align: left;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    width: 100px;
  }
}
@media screen and (min-width: 1000px) {
  .network-links ul {
    font-size: 1.1em;
  }
}
.blog-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
}

.blog-para h5 {
  font-family: "neue", Open Sans, sans-serif;
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 1.2em;
  text-align: center;
}

.blog-para p {
  font-family: "neue", Open Sans, sans-serif;
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 0.8em;
  text-align: center;
  padding: 15px;
}

@media screen and (min-width: 750px) {
  .blog-para h5 {
    font-size: 1em;
    opacity: 0.6;
  }
  .blog-para p {
    font-size: 0.8em;
    opacity: 0.6;
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
  }
  .blog-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    opacity: 0.6;
  }
}
@media screen and (min-width: 1000px) {
  .blog-para p {
    font-size: 1em;
  }
  .blog-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
  }
}
.reach-me-section h6 {
  font-family: "neue", Open Sans, sans-serif;
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 1.1em;
}

.reach-me-section p {
  font-family: "neue", Open Sans, sans-serif;
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 0.8em;
}

.contact-section {
  margin-top: 80px;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .reach-me-section h6 {
    font-size: 1.2em;
    opacity: 0.6;
  }
  .reach-me-section p {
    font-family: "neue", Open Sans, sans-serif;
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 0.8em;
    opacity: 0.6;
  }
}
@media screen and (min-width: 1000px) {
  .reach-me-section h6 {
    font-size: 1.4em;
  }
  .reach-me-section p {
    font-family: "neue", Open Sans, sans-serif;
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 1em;
  }
}
button {
  background: transparent;
  border: solid whitesmoke 1px;
  padding: 5px;
  color: whitesmoke;
  cursor: pointer;
  margin-bottom: 30px;
}

.form-input-box {
  color: whitesmoke;
}

.input-section {
  background: transparent;
  border: solid whitesmoke 1px;
  padding: 5px;
  color: whitesmoke;
  outline-color: #566651;
}

::-moz-placeholder {
  color: whitesmoke;
  opacity: 0.6;
}

:-ms-input-placeholder {
  color: whitesmoke;
  opacity: 0.6;
}

::placeholder {
  color: whitesmoke;
  opacity: 0.6;
}

@media screen and (min-width: 750px) {
  .input-section {
    opacity: 0.8;
  }
  .form-input-box {
    opacity: 0.8;
  }
  button {
    opacity: 0.6;
  }
}
.footer-nav ul {
  font-family: "neue", Open Sans, sans-serif;
  color: whitesmoke;
  letter-spacing: 2px;
  list-style: square;
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.footer-nav {
  display: flex;
  justify-content: right;
  position: -webkit-sticky;
  position: sticky;
}/*# sourceMappingURL=main.css.map */