* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: scroll;
  position: relative;
}

.name-section {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
}

p {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
}

.underline {
  text-decoration: underline;
}

.link-decoration {
  text-decoration: none;
  color: whitesmoke;
}

.blog-link-decoration {
  color: #566651;
}

body {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 10% auto 35%;
  grid-template-areas: "header header" "navbar globe-sect" "navbar landing-para";
  background-image: url("/images/portfolio background mobile.png");
  border: 1px solid whitesmoke;
  padding: 10px;
  margin: 20px;
}

@media screen and (min-width: 850px) {
  body {
    background-image: url("/images/portfolio background.jpg");
  }
  .top-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
  }
  .top-header h3 {
    font-size: 1.8em;
  }
  .top-header h5 {
    font-size: 1.2em;
  }
  body {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 10% auto 10%;
    grid-template-areas: "header header" "landing-para globe-sect" "landing-para navbar";
  }
  .nav-bar ul {
    font-family: "Open Sans", sans-serif;
    color: whitesmoke;
    list-style: square;
    font-size: 0.8em;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    text-align: right;
  }
}
header {
  grid-area: header;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

navbar-section {
  grid-area: navbar;
}

.nav-bar ul {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  list-style: square;
  font-size: 0.8em;
  margin-left: 16px;
  margin-top: 20px;
}

.nav-bar li {
  margin-bottom: 10px;
}

globe-section img {
  width: 150px;
  margin-top: 230px;
  margin-right: 50px;
}

.landing-text p {
  font-size: 0.9em;
  text-align: right;
  padding-left: 70px;
  margin-bottom: 10%;
}

.project-links ul {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  list-style: none;
  font-size: 0.8em;
  margin-left: 16px;
  margin-top: 110px;
}

.project-links li {
  margin-bottom: 15px;
  text-align: right;
}

.blog-links ul {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  list-style: none;
  font-size: 0.8em;
  margin-left: 16px;
  margin-top: 20px;
}

.blog-links li {
  margin-bottom: 10px;
  text-align: right;
}

.history-container h5 {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  font-size: 1.5em;
  text-align: center;
}

.history-container p {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  font-size: 0.8em;
  text-align: center;
}

.network-links ul {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  list-style: none;
  font-size: 0.8em;
  margin-left: 16px;
  margin-top: 20px;
}

.network-links li {
  margin-bottom: 10px;
  text-align: right;
}

blog-image img {
  width: 100px;
}

.blog-para h5 {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  font-size: 1.2em;
  text-align: center;
}

.blog-para p {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  font-size: 0.8em;
  text-align: center;
}

.reach-me-section h6 {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  font-size: 1.2em;
  text-align: center;
}

.reach-me-section p {
  font-family: "Open Sans", sans-serif;
  color: whitesmoke;
  font-size: 0.8em;
  text-align: center;
}/*# sourceMappingURL=main.css.map */